= simple_form_for(@station) do |f|
  = f.error_notification

  .form-inputs
    = f.input :code
    = f.input :name
    -# = f.association :train_routes, as: :check_boxes

  .form-actions
    = f.button :submit
