= simple_form_for(@train_route) do |f|
  = f.error_notification

  .form-inputs
    = f.input :code
    = f.input :name
    = f.association :stations, as: :check_boxes

  .form-actions
    = f.button :submit
