= simple_form_for(@distance) do |f|
  = f.error_notification

  .form-inputs
    = f.association :departure_station
    = f.association :destination_station
    = f.input :distance

  .form-actions
    = f.button :submit
