%h1 Listing distances

%table.table.table-striped.table-bordered
  %thead
    %tr
      %th Departure station
      %th Destination station
      %th Distance
      %th
      %th
      %th

  %tbody
    - @distances.each do |distance|
      %tr
        %td= distance.departure_station.name
        %td= distance.destination_station.name
        %td= distance.distance
        %td= link_to 'Show', distance
        %td= link_to 'Edit', edit_distance_path(distance)
        %td= link_to 'Destroy', distance, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Distance', new_distance_path
